body{ background-color: #000000;
}
.wrapper{
  font-family: 'Times New Roman', sans-serif;;
  padding: 10px;
  color: white;
  }
  .wrapper__image{
    width: 60%;
    float: left;
  }
  .wrapper__form{
    width: 38%;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
  }
#submit {
  border-radius: 30%;
  background-color:   #FF00FF;
   padding: 10px;
  width: 100%;
  height: 30%;
}
input{
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  border: solid  white;
 color: white;
 padding: 10px;
}
button{
  color: white;

}
.wrapper__icon{
  margin: 0 auto;
  text-align: center;
}